.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: rgb(16, 50, 163);
        border-radius: 10px;
        text-align: center;
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;
    }

    @media (max-width: 1024px) {
        align-items: center;
        display: flex;
    }
}